[Unit]
Description=baseplate: paperless_redis

[Container]
ContainerName=paperless_redis
Image=docker.io/redis:7
Network=baseplate_internal.network
NoNewPrivileges=true

[Service]
Restart=always

[Install]
WantedBy=default.target
