[Unit]
Description=baseplate: homeassistant
RequiresMountsFor=/etc/localtime
RequiresMountsFor=/run/dbus

[Container]
ContainerName=homeassistant
Image=ghcr.io/home-assistant/home-assistant:stable
Environment=TZ=${TZ:-UTC}
Volume=${HASS_CONFIG_DIR:-./hassio/config}:/config
Volume=/etc/localtime:/etc/localtime:ro
Volume=/run/dbus:/run/dbus:ro
Network=host
NoNewPrivileges=true

[Service]
Restart=always

[Install]
WantedBy=default.target
