[Unit]
Description=baseplate: beszel-agent
RequiresMountsFor=/var/run/docker.sock

[Container]
ContainerName=beszel-agent
Image=docker.io/henrygd/beszel-agent:latest
Environment=LISTEN=45876
Environment=KEY=${BESZEL_KEY}
Volume=/var/run/docker.sock:/var/run/docker.sock:ro
Network=host
NoNewPrivileges=true
PodmanArgs=--memory=128m
PodmanArgs=--cpus=0.15

[Service]
Restart=always

[Install]
WantedBy=default.target
