[Unit]
Description=baseplate: beszel

[Container]
ContainerName=beszel
Image=docker.io/henrygd/beszel:latest
Volume=beszel_data:/beszel_data
Network=proxy.network
AddHost=host.docker.internal:host-gateway
NoNewPrivileges=true
PodmanArgs=--memory=256m
PodmanArgs=--cpus=0.25

[Service]
Restart=always

[Install]
WantedBy=default.target
