[Unit]
Description=baseplate: jellyfin

[Container]
ContainerName=jellyfin
Image=docker.io/jellyfin/jellyfin:latest
Volume=jellyfin_config:/config
Volume=jellyfin_cache:/cache
Volume=media:/media
Network=proxy.network
NoNewPrivileges=true
PodmanArgs=--cpus=3.0

[Service]
Restart=always

[Install]
WantedBy=default.target
