[Unit]
Description=baseplate: radarr

[Container]
ContainerName=radarr
Image=lscr.io/linuxserver/radarr:latest
Environment=PUID=${PUID:-1000}
Environment=PGID=${PGID:-1000}
Environment=TZ=${TZ:-UTC}
Volume=radarr_config:/config
Volume=downloads:/downloads
Volume=media:/media
Network=proxy.network
NoNewPrivileges=true

[Service]
Restart=always

[Install]
WantedBy=default.target
