[Unit]
Description=baseplate: gitea
RequiresMountsFor=/etc/localtime
RequiresMountsFor=/etc/timezone

[Container]
ContainerName=gitea
Image=docker.io/gitea/gitea:1
Environment=USER_UID=${PUID:-1000}
Environment=USER_GID=${PGID:-1000}
Environment=GITEA__server__ROOT_URL=https://git.${DOMAIN}/
Environment=GITEA__server__DOMAIN=git.${DOMAIN}
Environment=GITEA__server__SSH_DOMAIN=git.${DOMAIN}
Environment=GITEA__server__SSH_PORT=2222
Volume=gitea_data:/data
Volume=/etc/timezone:/etc/timezone:ro
Volume=/etc/localtime:/etc/localtime:ro
Network=proxy.network
Network=baseplate_internal.network
PublishPort=2222:22
NoNewPrivileges=true

[Service]
Restart=always

[Install]
WantedBy=default.target
