[Unit]
Description=baseplate: homarr

[Container]
ContainerName=homarr
Image=ghcr.io/homarr-labs/homarr:latest
Environment=SECRET_ENCRYPTION_KEY=${HOMARR_SECRET_KEY}
Volume=homarr_config:/appdata
Network=proxy.network
NoNewPrivileges=true

[Service]
Restart=always

[Install]
WantedBy=default.target
