[Unit]
Description=baseplate: vaultwarden

[Container]
ContainerName=vaultwarden
Image=docker.io/vaultwarden/server:latest
Environment=DOMAIN=https://vault.${DOMAIN}
Environment=ADMIN_TOKEN=${VAULTWARDEN_ADMIN_TOKEN}
Volume=vaultwarden_data:/data
Network=proxy.network
NoNewPrivileges=true

[Service]
Restart=always

[Install]
WantedBy=default.target
