[Unit]
Description=baseplate: nextcloud
After=nextcloud_db.service
Requires=nextcloud_db.service
After=nextcloud_redis.service
Requires=nextcloud_redis.service

[Container]
ContainerName=nextcloud
Image=docker.io/nextcloud:apache
Environment=MYSQL_HOST=nextcloud_db
Environment=MYSQL_DATABASE=nextcloud
Environment=MYSQL_USER=nextcloud
Environment=MYSQL_PASSWORD=${NEXTCLOUD_DB_PASSWORD}
Environment=REDIS_HOST=nextcloud_redis
Environment=OVERWRITEPROTOCOL=https
Environment=OVERWRITECLIURL=https://cloud.${DOMAIN}
Environment=TRUSTED_PROXIES=172.16.0.0/12 10.0.0.0/8 192.168.0.0/16
Environment=APACHE_BODY_LIMIT=0
Volume=nextcloud_data:/var/www/html
Network=proxy.network
Network=baseplate_internal.network
NoNewPrivileges=true
PodmanArgs=--cpus=2.0

[Service]
Restart=always

[Install]
WantedBy=default.target
