[Unit]
Description=baseplate: nextcloud_redis

[Container]
ContainerName=nextcloud_redis
Image=docker.io/redis:alpine
Network=baseplate_internal.network
NoNewPrivileges=true

[Service]
Restart=always

[Install]
WantedBy=default.target
