[Unit]
Description=baseplate: acme

[Container]
ContainerName=acme
Image=docker.io/neilpang/acme.sh
Environment=CF_Token=${CF_DNS_API_TOKEN:?set CF_DNS_API_TOKEN in .env}
Volume=acme_sh:/acme.sh
Volume=traefik_certs:/certs
NoNewPrivileges=true
Exec=daemon

[Service]
Restart=always

[Install]
WantedBy=default.target
