[Unit]
Description=baseplate network: baseplate_socketproxy

[Network]
NetworkName=baseplate_socketproxy
Internal=true
Options=mtu=${PODMAN_NET_MTU}

[Install]
WantedBy=default.target
