[Unit]
Description=baseplate: traefik

[Container]
ContainerName=traefik
Image=docker.io/traefik:v3
Volume=${BASEPLATE_DIR}/traefik/traefik.yml:/etc/traefik/traefik.yml:ro
Volume=${BASEPLATE_DIR}/traefik/dynamic.yml:/etc/traefik/dynamic.yml:ro
Volume=traefik_certs:/etc/traefik/certs:ro
Network=proxy.network
PublishPort=80:80
PublishPort=443:443
NoNewPrivileges=true

[Service]
Restart=always

[Install]
WantedBy=default.target
