[Unit]
Description=baseplate: mosquitto

[Container]
ContainerName=mosquitto
Image=docker.io/eclipse-mosquitto:2
Volume=${BASEPLATE_DIR}/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
Volume=${BASEPLATE_DIR}/mosquitto/passwd:/mosquitto/config/passwd
Volume=mosquitto_data:/mosquitto/data
Volume=mosquitto_log:/mosquitto/log
PublishPort=1883:1883
NoNewPrivileges=true

[Service]
Restart=always

[Install]
WantedBy=default.target
